* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: i300px;
  padding: 0 80px;
  margin: auto;
}
html{
    scroll-behavior: smooth;
    background-color: #333;
}
/*--------------navbar-------------*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background-color: rgba(252, 249, 249, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: black;
  font-size: 30px;
  font-weight: 300;
}
.navbar .logo a span {
  color: crimson;
}
.navbar.sticky .logo a span {
  color: white;
  transition: all 0.5s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.5s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: white;
  transition: all 0.5s ease;
}
/*----------------------menu button style(NAV BUTTON)---------------*/
.menu-btn {
  color: black;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*----------------------Home Section------------------*/
.home {
  display: flex;
    background-image: url(../images/SOS\ \(14\).jpeg);
  height: 100vh;
  color: black;
 background-size:cover;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  font-weight: 300;
  color: crimson;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.5s ease;
}
.home .home-content a:hover {
  color: crimson;
  background: none;
}


/* Similar Styles*/
.about, .services, .skills, .projects, .contact, .footer, .avaliable{
  font-family: "Poppins", sans-serif;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background: #111;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
section .title::after {
  font-size: 20px;
  color: crimson;
  position: absolute;
  padding-bottom: 5px;
  background:#333;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-content,
.services .serv-content,
.skills .skills-content, 
.contact .contact-content
{  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/*About section*/
section {
  padding: 30px 0;
  
}

.about .title::after {
  content: "who i am";
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 45%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.5s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* ---------------------GALLERY------------------- */
.meals-list {
  list-style: none;
  width: 100%;
     -webkit-padding-start:0px;
 ;

}

.meals-list li {
  display: block;
  float: left;
  width: 25%;

}

.food-picture {
  width: 100%;
  margin :0;
  overflow: hidden;
  background-color: #000;

}

.food-picture img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s;
  opacity: 0.5s;

}

.food-picture img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.meals {
  padding: 0px;
  background-image: url(../images/header-bg.jpg);

}

/*Home Section*/
.services, .projects, .avaliable {
  background: black;
  color: white;
}
.services .title::before,
.projects .title::before {
  background: white;
}
.services .title::after,
.projects .title::after {
  background: black;
  content: "what i provide";
}
.services .serv-content .card,
.avaliable .avaliable-content .card {
  width: calc(33% - 20px);
  background: #111;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.services .serv-content .card:hover {
  background: crimson;
}
.services .serv-content .card .box {
  transition: all 0.5s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  color: crimson;
  font-size: 50px;
  transition: color 2s ease;
}
.services .serv-content .card:hover i {
  color: white;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/* contact styling*/


.contact .title::after{
    content: 'Get in touch';
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin-bottom: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size:25px;
    color: crimson;
}
.contact .contact-content .info .head{
font-weight: 600;
}
.contact .contact-content .info .sub-title{
    color:#fff;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .name{
margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
font-size: 20px;
border-radius: 6px;
font-weight: 500;
transition: all 0.5s ease;
cursor: pointer;
} 
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}


/*footer stylin*/
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a {
    color: crimson;
}

footer span a:hover{
    text-decoration: underline;
}
.mail{
padding-left: 40px;
float: right;
}
/*responsive media query*/
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn .active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
   
    width: 100%;
    left: -100%;
    top: 0;
    background: transparent;
    text-align:right;
    padding: 50px;
    transition: all 0.5s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  #home{
    background-image: url(../images/SOS\ \(0\).jpeg);
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width:100%;
      margin-bottom: 35px;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}





/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/* ========= Avaliable ============= */
/* .avaliable{ */
  

.avaliable .title::after {
  background: black;
  content: "connect on";
}
.avaliable .avaliable-content{
  display: flex;
  align-items: center;

}

.card{
  margin-left: 30px;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.available-on-item {
  text-align: center;
  border-left: 1px solid #0F1217;
  min-height: 230px;
  padding-bottom: 15px;
  position: relative;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  
}
.available-on-item:hover {
  background-color: #121212;
}
.available-on-item i {
  color: #129CF3;
  text-align: center;
  opacity: 1;
  font-size: 70px;
  padding-top: 90px;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

.available-on-item:hover i {
  opacity: 0;
}
.available-on-inner {
  position: absolute;
  bottom: 93px;
  width: 100%;
  opacity: 0;
   transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.available-on-inner h2 {
  text-align: center;
  font-weight:  300;
  color: #D7DADB;
  font-size: 16px;
}

.available-on-item:hover div.available-on-inner {
  opacity: 1;
}


